.App {
  max-width: 800px;
  margin: auto;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  min-height: 533px;
}

header {
  border-bottom: 1px solid;
  padding: 10px 0;
}
.btn {
  background-color: transparent;
  border: 1px solid;
  padding: 8px 32px;
  margin-left: 10px;
  cursor: pointer;
}
.block {
  width: 200px;
  height: 200px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px;
  position: relative;
  font-size: 24px;
}
.block .delete {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
}
.block .delete:hover {
  color: red;
}
.content {
  max-height: 533px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

footer {
  border-top: 1px solid;
  padding: 10px 0;
}
footer p {
  margin-left: 10px;
}
.sidebar {
  width: 20%;
  border-left: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}